.giSelectList {
  width: 100%;
}

.giSelectList select option:empty {
  display:none;
}

.giSelectList .btn {
  margin: .15em;
  width: 55px;
}

.giSelectList select {
  width: 100%;
  height: 190px;
}

.giSelectList small {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.giSelectList .paneList {
  width: 44%;
  float: left;
}

.giSelectList .divider {
  width: 12%;
  float: left;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
