@using CrawlerDAL.ViewModels.Yields;
@model IEnumerable<AverageYieldsViewModel>

<!--近五年平均殖利率/平均股價-->
<div id="collapseAverageYield" class="panel-collapse collapse">
    <table class="table table-bordered table-hover">
        <tr>
            <th>年份</th>
            <th>平均殖利率</th>
            <th>平均股價</th>
        </tr>
        @foreach (var Yields in Model)
        {
            <tr>
                <td>@Yields.Year</td>
                <td>@Yields.AverageRate</td>
                <td>@Yields.AveragePrice</td>
            </tr>
        }
    </table>
</div>
