<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="AngleSharpEntities" connectionString="metadata=res://*/Models.DB.AngleSharpStock.csdl|res://*/Models.DB.AngleSharpStock.ssdl|res://*/Models.DB.AngleSharpStock.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AngleSharp;persist security info=True;user id=sa;password=bran0615;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
